*.pyc
*.pyxbldc
*.so
dist
MANIFEST
/neuropy/util.c
/neuropy/util.html
/neuropy/scripts/PyArray_Mean.c
/neuropy/scripts/PyArray_Mean.html
/neuropy/scripts/C_types.c
/neuropy/scripts/C_types.html
/neuropy/scripts/gac.c
